@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

.logo {
  padding-left : 35px;
  padding-right: 26px;
}

#divider {
  width         : 30vw;
  margin        : auto;
  padding-top   : 0px;
  padding-bottom: 40px;
}

#divider-foot {
  width         : 40vw;
  margin        : auto;
  padding-top   : 0px;
  padding-bottom: 40px;
}

#divider-about {
  width         : 55vw;
  margin        : auto;
  padding-top   : 10px;
  padding-bottom: 30px;
}

#tagline {
  text-align : center;
  font-weight: bold;
  font-size  : 70px;
}

#about-us {
  text-align : center;
  font-style : italic;
  font-weight: bold;
  font-size  : 100px;
}

#mainimg {
  text-align: center;
  font-size : 70px;
}

#sec1 {
  margin: auto;
}

#sec2 {
  margin     : auto;
  padding-top: 10px;
}

.card-container {
  display       : flex;
  flex-wrap     : wrap;
  flex-direction: row;
}

.card {
  flex           : auto;
  min-width      : 300px;
  max-width      : 300px;
  border         : .5px solid black;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  margin-right   : 16px;
  margin-left    : 5px;
}

.col-container {
  display       : flex;
  flex-direction: column;
}

.container {
  display        : flex;
  flex-direction : column;
  flex-wrap      : wrap;
  justify-content: center;
}

.contBox {
  display        : flex;
  flex-direction : column;
  flex-wrap      : wrap;
  justify-content: right;
}

hr.solid {
  border-top: 1px solid rgb(255, 81, 0);
  opacity   : 100%;
}

#aboutheader {
  margin-left: 24%;
  padding-top: 30px;
}

#aboutdesc {
  font-size : 15px;
  text-align: center;
}

.aboutimg {
  margin: auto;
}

#about {
  box-sizing  : border-box;
  font-size   : 20px;
  text-align  : justify;
  padding-left: 7%;
}

#company {
  margin-left: 20%;
  font-size  : 70px;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

#divider-foot {
  padding: 0;
}

#footerRow1Col2-1 {
  margin    : auto;
  width     : 500px;
  text-align: center;
}

#footerRow1Col2-2 {
  margin    : auto;
  width     : 800px;
  text-align: center;
}

#footrow2 {
  margin: auto;
  width : 150px;
}

#facebook {
  width : 21px;
  height: 20px;
}

#facebook:hover {
  background-color: lightgray;
  width           : 21px;
  height          : 20px;
}

#email {
  width : 21px;
  height: 20px;
}

#email:hover {
  background-color: lightgray;
  width           : 21px;
  height          : 20px;
}

#phone {
  width : 21px;
  height: 20px;
}

#phone:hover {
  background-color: lightgray;
  width           : 21px;
  height          : 20px;
}

#footerRow2Col1 {
  margin    : auto;
  text-align: right;
}

#footerRow2Col2 {
  margin    : auto;
  text-align: center;
}

#footerRow2Col3 {
  margin    : auto;
  text-align: left;
}

#vb {
  
}

#vb:hover {
  background-color: orangered;
}

#vb2 {

}

#vb2:hover {
  background-color: orangered;
}

#category {
  width      : 140px;
  margin-left: 17%;
}

.product-col-container {
  display       : flex;
  flex-direction: column;
  margin-left   : 100px;
  margin-right  : 50px;
}

#product-card {
  margin: 12px;
}

#photo-container {
  margin-top   : 18px;
  margin-bottom: 10px;
  height       : 250px;
  width        : 250px;
}

#product-area {
  padding-top: 1%;
  margin     : auto;
  width      : 1400px;
}

.img-fluid-showcase {
  height: 200px;
  width : 250px;
}

#button-container {
  margin-bottom: 10px;
}

#divider-content {
  width: 100px;
}

#mrgn {
  margin-left : 20%;
  margin-right: 20%;
}

#product-info {
  margin-left  : 10%;
  margin-right : 10%;
  margin-bottom: 20%;
}

#desc-limiter {
  display      : inline-block;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
  max-width    : 13ch;
}

#photo-col {
  width : 800px;
  height: 500px;
  margin: auto;
}

#photo-limit {
  width  : 790px;
  height : 490px;
  margin : 10px;
  border : solid;
  padding: 0%;
}

#text-col {
  margin-top : 10px;
  margin-left: 200px;
  text-align : center;
}

#fixed-text {
  height    : 500px;
  width     : 500px;
  border    : solid;
  position  : fixed;
  margin    : auto;
  text-align: center;
}

#fixed-text {
  padding-top: 100px;
  margin     : auto;
  text-align : center;
}

.sectionAbout{
  padding-top: 40px;
  padding-bottom: 40px;
}
.main_heading{
  color: rgb(255, 49, 49);
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}
.underline{
  height: 04px;
  width: 4rem;
  background-color: #f7c62f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.containerAbout{
  align-items: center;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 100px;
}

.containerMV{
  align-items: center;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 100px;
}

.vision_header{
  font-weight: bolder;
}
.mission_header{
  font-weight: bolder;
}
.core_header{
  font-weight: bolder;
}
.bg-c-light{
  background-color: #f2f2f2;
}
