.card-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card{
  flex: auto;
  min-width: 250px;
  max-width: 250px;
  border: .5px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-container{
  display: flex;
  flex-direction: column;
}

.navbar,
.navbar-default {
    background-image: #ffffff !important; /* override background image gradient w/ flat color */
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


.navbar-brand{
    font-weight: bolder;
    font-size: 25px;
}