@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.row {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

.parag {
  margin: 0;
}

.logo {
  padding-left : 35px;
  padding-right: 26px;
}

#divider {
  width         : 30vw;
  margin        : auto;
  padding-top   : 0px;
  padding-bottom: 40px;
}

#divider-foot {
  width         : 40vw;
  margin        : auto;
  padding-top   : 0px;
  padding-bottom: 40px;
}

#divider-about {
  width         : 55vw;
  margin        : auto;
  padding-top   : 10px;
  padding-bottom: 30px;
}

#tagline {
  text-align : center;
  font-weight: bold;
  font-size  : 70px;
}

#customText{
  font-family: 'Bebas Neue';
  letter-spacing: 4px;
  font-size: 150px;
  margin: auto;
  background: rgba(46, 46, 46, 0.6); 
  color: #fff;
  width: 100%;
}

#aboutus {
  padding: 200px;
}
#mainimg {
  text-align: center;
  font-size : 70px;
}

#sec1 {
  margin: auto;
}

#sec2 {
  margin     : auto;
  padding-top: 10px;
}

.card-container {
  display       : flex;
  flex-wrap     : wrap;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
}

.card {
  flex           : auto;
  min-width      : 50px;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10%;
  text-align: center;
  font-family: arial;
}

.col-container {
  text-align: center;
  display       : flex;
  flex-direction: column;
}

.container {
  display        : flex;
  flex-direction : column;
  flex-wrap      : wrap;
  justify-content: center;
}

.contBox {
  display        : flex;
  flex-direction : column;
  flex-wrap      : wrap;
  justify-content: right;
}

hr.solid {
  border-top: 1px solid rgb(255, 81, 0);
  opacity   : 100%;
}

#aboutheader {
  margin-left: 45%;
  padding-top: 30px;
  max-width: 10%;
}

#aboutdesc {
  font-size : 15px;
  text-align: center;
}

.aboutimg {
  margin: auto;
}

#about {
  box-sizing  : border-box;
  font-size   : 20px;
  text-align  : justify;
  padding-left: 7%;
}

#company {
  margin-left: 20%;
  font-size  : 70px;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

#divider-foot {
  padding: 0;
}

#footerRow1Col2-1 {
  margin    : auto;
  width     : 500px;
  text-align: center;
}

#footerRow1Col2-2 {
  margin    : auto;
  width     : 800px;
  text-align: center;
}

#footrow2 {
  margin: auto;
  width : 150px;
}

#facebook {
  width : 21px;
  height: 20px;
}

#facebook:hover {
  background-color: lightgray;
  width           : 21px;
  height          : 20px;
}

#email {
  width : 21px;
  height: 20px;
}

#email:hover {
  background-color: lightgray;
  width           : 21px;
  height          : 20px;
}

#phone {
  width : 21px;
  height: 20px;
}

#phone:hover {
  background-color: lightgray;
  width           : 21px;
  height          : 20px;
}

#footerRow2Col1 {
  margin    : auto;
  text-align: right;
}

#footerRow2Col2 {
  margin    : auto;
  text-align: center;
}

#footerRow2Col3 {
  margin    : auto;
  text-align: left;
}

#vb {
  font-size: 30px;
  border-radius: 20px;
  
}

#vb:hover {
  background-color: orangered;
}

#vb2 {

}

#vb2:hover {
  background-color: orangered;
}

#category {
  width      : 140px;
  margin-left: 20%;
}

.product-col-container {
  display       : flex;
  flex-direction: column;
}

#product-card {
  margin: 12px;
}

#photo-container {
  margin-bottom: 25px;
  height       : 150px;
  width        : 250px;
}

#product-area {
  padding-top: 1%;
  margin     : auto;
  width      : 1400px;
}

.img-fluid-showcase {
  height: 100%;
  width : 87.5%;
}

#button-container {
  margin-bottom: 10px;
}

#divider-content {
  width: 100px;
}

#companyProfile{
  font-size: 75px;
}

#mrgn {
  margin-left : 20%;
  margin-right: 20%;
}

#product-info {
  margin-left  : 10%;
  margin-right : 10%;
  margin-bottom: 20%;
}

#desc-limiter {
  display      : inline-block;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
  max-width    : 13ch;
}

#photo-col {
  width : 800px;
  height: 500px;
  margin: auto;
}

#photo-limit {
  width  : 790px;
  height : 490px;
  margin : 10px;

  padding: 0%;
}

#text-col {
  margin-top : 10px;
  margin-left: 200px;
  text-align : center;
}

#fixed-text {
  height    : 500px;
  width     : 500px;
  border    : solid;
  position  : fixed;
  margin    : auto;
  text-align: center;
}

#fixed-text {
  padding-top: 100px;
  margin     : auto;
  text-align : center;
}

.sectionAbout{
  padding-top: 150px;
  padding-bottom: 150px;
}

.main_heading{
  color: rgb(255, 49, 49);
  font-size: 55px;
  text-align: center;
  font-weight: bolder;
  padding: 0%;
}
.underline{
  height: 04px;
  width: 20rem;
  background-color: #f7c62f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.containerAbout{
  align-items: center;
  text-align: center;
  margin: auto;

}

.containerMV{
  align-items: center;
  text-align: center;
  margin: auto;
}

.vision_header{
  font-weight: bolder;
}
.mission_header{
  font-weight: bolder;
}
.core_header{
  font-weight: bolder;
}
.bg-c-light{
  background-color: #f2f2f2;
}

.centerText{
  position: relative;
  top: 25%;
}

.sampleCon{
  align-items: center;
  text-align: center;
  margin: auto;
  background: url("../public/images/placeholder1.jpeg");
  background-size: 2000px;
  background-repeat: no-repeat;
  padding-top: 50px;
  width: 100%;
  height: 1000px;
  margin: auto;
  background-attachment: fixed;
}

.aboutParagraph1{
  font-size: 20px;
  padding: 0%;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 220px;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}