/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



.container{
  padding-top: 100px;
  padding-bottom: 150px;
}

.topic{
  font-size: 70px;
  font-style: italic;
  font-weight: bold;
}

.text-one{
  text-indent: 50px;
}

.text-two{
  text-indent: 50px;
}

.faqs-title {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 60px;
}

.faqs-header{
  font-size: 30px;
}

.faqs-part{
  text-align: center;
  align-items: center;
}

.card-text{
  font-size: 10px;
}

.card-deck{
  margin: auto;
}

.card-title{
  font-weight: bold;
  font-size: 35px;
}

.faqcard{
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

.faq-space{
  padding: 10px;
}

.h3{
  font-size: 60px;
  font-weight: 900px;;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 900px;
  line-height: 1.2;
}
.add2 {
  margin-bottom: 20px;
}



@media (min-width: 1200px)
{.h3, h3 {
    font-size: 60px;
    font-weight: 900px;
}}
.pdef{
  font-size: 20px;
}

p {
  margin-bottom: 40px;
}

.lstyle{
  text-decoration: none!important;
  color: #000;
  font-size: 15px;
  margin-top: 50px;
}





/* div {
  display: block;
}

*, ::after, ::before {
  box-sizing: inherit;
} */

/* article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 768px)
{.container {
    max-width: 720px;
}}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 0;
    font-size: 1.75rem;
}

.text-center {
  text-align: center!important;
}

.text-uppercase {
  text-transform: uppercase!important;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.w-75 {
  width: 75%!important;
}

.m-auto {
  margin: auto!important;
}

.row {
  
  display: flex;
  
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px)
{.col-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}}

.my-5 {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
}

.card {
  position: relative;
  
  display: flex;
  
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.border-0 {
  border: 0!important;
} */